version: '3.8'
services:
  db:
    image: postgres:16
    user: root
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo18@2024
      - POSTGRES_DB=postgres
    restart: always
    volumes:
      - ./postgresql:/var/lib/postgresql/data

  odoo18:
    image: odoo:18
    user: root
    depends_on:
      - db
    ports:
      - "10018:8069"
      - "20018:8072" # live chat
    tty: true
    command: --
    entrypoint: /bin/sh -c 'if [ -f /opt/scripts/entrypoint.sh ]; then exec /bin/sh /opt/scripts/entrypoint.sh "$@"; else exec odoo "$@"; fi' 
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo18@2026
    volumes:
      - ./scripts:/opt/scripts
      - ./addons:/mnt/extra-addons
      - ./etc:/etc/odoo
    restart: always
